@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
<h1> | Machines | </h1>
<hr>
<h2><u>Machine Installment Form</u></h2><br>
@using (Html.BeginForm())
{
  @Html.Label("Machine Name")<br>
  @Html.TextBoxFor(model => model.MachineName)<br><br>

  @Html.Label("Select Engineer")<br>
  @Html.DropDownList("EngineerId")<br><br>
  <input type="submit" value="Add Installation" class="btn btn-default">
}
<br><p>@Html.ActionLink("Machines", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>