@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;
<h1> | Machines | </h1>

<h2><u>Overview</h2></u>
<h3><strong>@Html.DisplayFor(model => model.MachineName)</strong></h3><br>

@if(Model.JoinTables.Count == 0)
{
  <span><h4>This Machine is currently not assigned to any Engineer(s).</h4></span>
}
else
{
  <h4><u>Assigned Engineer(s)</u></h4>
  <ul>
    @foreach(var join in Model.JoinTables)
    {
      <li>@join.Engineer.EngineerName</li>
      @using (Html.BeginForm("DeleteEngineer", "Machines"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Delete" />
      }
    }
  </ul>
}
<br><p>@Html.ActionLink("Add an Engineer", "AddEngineer", new { id = Model.MachineId }) </p>
<p>@Html.ActionLink("Edit Machine Information", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete Machine Information", "Delete", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Back to Machines", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>