@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
<h1> | Machines | </h1>
<h3>Assign Engineer: <strong>@Html.DisplayFor(model => model.MachineName)</strong></h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  <h4>@Html.Label("Select Engineer")<br></h4>
  @Html.DropDownList("EngineerId")<br><br>

  <input type="submit" value="Save" class="btn-btn-default" />
}
<br><p>@Html.ActionLink("Machine List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
