@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
<h1> | Machines | </h1>

<h3>Edit Information: <strong>@Html.DisplayFor(model => model.MachineName)</h3></strong>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  <h4>@Html.Label("Machine Name")<br></h4>
  @Html.EditorFor(model => model.MachineName)<br><br>

  <input type="submit" value="Save" class="btn btn-default"/>
}
<br><p>@Html.ActionLink("Machine List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>