@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Machine>;

<h1>| Machines |</h1>
<hr>
@if (@Model.Count == 0)
{
  <span><h4>There are no machines installed.</h4></span>
}

@foreach (Machine machine in Model)
{
  <li>@Html.ActionLink($"{machine.MachineName}", "Details", new { id = machine.MachineId })</li>
  @using (Html.BeginForm("Delete", "Engineers", FormMethod.Get))
  {
    @Html.Hidden("id", @machine.MachineId)
    //<input type="submit" value="Remove Machine" class="btn btn-default"/>
  }
}
<br><p>@Html.ActionLink("Add new Installation", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>