@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
<h1> | Engineers | </h1>

<h3>Machine License: <strong>@Html.DisplayFor(model => model.EngineerName)</strong></h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  <h4>@Html.Label("Select Machine")<br></h4>
  @Html.DropDownList("MachineId")<br><br>

  <input type="submit" value="Save" class="btn-btn-default" />
}
<br><p>@Html.ActionLink("Engineer List", "Index")</p>
