@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Engineer>;

<h1> | Engineers | </h1>
<hr>
@if (@Model.Count == 0)
{
  <h3>There are no engineers hired.</h3>
}

@foreach (Engineer engineer in Model)
{
  <li>@Html.ActionLink($"{engineer.EngineerName}", "Details", new { id = engineer.EngineerId })</li>
  @* @using (Html.BeginForm("Delete", "Engineers", FormMethod.Get))
  {
    @Html.Hidden("id", @engineer.EngineerId)
    <input type="submit" value="Remove Engineer" class="btn btn-default"/>
  } *@
}
<br><p>@Html.ActionLink("Add a new Hire", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>